$grey: #eeeeee;

#json-output {
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid $grey;
  padding: 1em;
  margin: 1em auto;
  height: 300px;
  width: 80%;
  background-color: #eee;
}
