@import 'reset';

$darkgrey: #888888;

#root {
  background-color: white;
  header {
    text-align: center;
    background-color: lightskyblue;
    padding: 1em;
    margin-bottom: 1em;
  }
  footer {
    text-align: center;
    color: $darkgrey;
    padding: 1em;
  }
}

label {
  margin-left: 0.5em;
}

.center {
  text-align: center;
}

.itemList {
  .itemListHeader {
    background-color: lightgoldenrodyellow;
    padding: 1rem 0;
  }
  .ingredientList {
    padding: 0 1rem;
  }
}